.Shirt {
  position: relative;

  h2 {
    color: gold;
    font-family: "Dosis", sans-serif;
  }
  :hover {
    cursor: url("../Wrench/wrench.svg"), pointer;
  }

  .GooglyEyes {
    &:nth-of-type(1) {
    }
  }
}
